.bundle
log/*.log
/log/*.pid
tmp/*
/coverage/*
public/system/*
public/uploads/*
public/stylesheets/compiled/*
config/database.yml
db/*.sqlite3
db/structure.sql
*.swp
*.swo
.DS_Store
**/.DS_STORE
.sass-cache/*
spec/javascripts/fixtures/*.html
