<h1>Tasks</h1>

<form>
  {{#each task in controller}}
    <label {{ bindAttr class="task.complete:task-complete" }}>
      {{view Ember.Checkbox checkedBinding="task.complete"}}
      {{#linkTo 'tasks.show' task}}
        {{ task.title }}
      {{/linkTo}}
    </label>
  {{/each}}
</form>
